@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

*{
   padding: 0;
   margin: 0;
   border: 0;
   font-family: 'PT Sans', sans-serif;
}

*,*:before,*:after{
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box
}

a{
   color: inherit;
}

/* ---------- header ---------- */
.navigation, .logo, .navigation-page, .navigation-user{
   display: inline-block;
}

.navigation{
   position: relative;
   background-color: #fff;
   height: 85px;
   width: fit-content;
}

.logo{
   margin-left: 110px;
   width: 250px;
   height: 88px;
}

.navigation-page, .navigation-user{
   width: fit-content;
   list-style: none;
   height: inherit;
}

.navigation-page{
   margin-right: 550px;
}

.navigation-page li, .navigation-user li{
   float: left;
   display: flex;
   align-items: center;
   height: inherit;
}

.navigation-page a, .navigation-user a{
   text-decoration: none;
}

.navigation-page li{
   margin: 0px 0px 0px 80px;
   font-size: 26px;
   font-weight: 700;
   line-height: 26px;
   color: #000;
}

.navigation-page li:hover{
   border-bottom: 5px solid #756157;
}

.navigation-user li{
   margin-right: 35px;
}

.navigation-user-search, .navigation-user-favorite{
   width: 27px;
   height: 27px;
}

.navigation-item-user-favorite{
   position: relative;
}

.navigation-item-user-favorite:before{
   content: "12";
   position: absolute;
   right: -59%;
   top: 20%;
   width: 25px;
   height: 25px;
   background-color: #7DB54F;
   color: #fff;
   border-radius: 14px;
   padding: 3px;
   font-size: 0.8rem;
   font-weight: normal;
   text-align: center;
}

.navigation-user-button{
   width: 265px;
   height: 50px;
   background: #756157;
   border-radius: 4px;
   color: #fff;
   font-family: 'PT Sans';
   font-style: normal;
   font-weight: 700;
   font-size: 23px;
   text-transform: uppercase;
   cursor: pointer;
   margin-left: 10px;
}
/* ---------- end header ---------- */
