@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

/* !General */
body{
  font-family: "PT Sans", sans-serif;
  background-color: #ffffff;
  margin: 0;
}

ul{
  list-style: none;
}

.button{
  border: none;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
}

.button-in-favorites{
  background-color: #7DB54F;
}

.section-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.section-description {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  color: #333333;
}

/* !Header */

.navigation-link{
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}

/* !Welcome */
.welcome-top{
  width: 1200px;
  height: 485px;
  background-image: url("../images/index-images/welcome-top-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

}

.welcome-image{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.welcome-top::after{
  content: url("../images/index-images/welcome-divider.svg");
  width: 100%;
  position: absolute;
  bottom: -0.9%;
}

/* !Advantages */
.advantages-item{
  text-align: center;
  color: #000000;
}

.advantages-title{
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-number{
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.advantages-description{
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

.advantages-real-town, .advantages-devils-bridge{
  background-color: #82B3D3;
  color: #ffffff;
}

.real-town-description, .devils-bridge-description{
  color: #ffffff;
}

.advantages-housing, .advantages-souvenirs, .advantages-square, .advantages-tourists{
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-food{
  background-color: #ffffff;
}

.advantages-road{
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-real-town::after{
  content: url("../images/index-images/advantages-photo-1.jpg");
}

.advantages-devils-bridge::before{
  content: url("../images/index-images/advantages-photo-2.jpg");
}

/* !hotel-search */


/* !newsletter */
.newsletter{
  background-image: url("../images/index-images/newsletter-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.newsletter .field{
  font-family: inherit; /* тут точно нужен inherit */
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
}

.newsletter-title, .newsletter-description{
  color: white;
}

.newsletter-catalog{
  background: #ffffff;
}

.newsletter-button{
  background-color: #82B3D3;
}

/* !social-media */
.footer-phone{
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  color: #000000;
  text-decoration: none;
}

/* !catalog */

/* !inner-header */
.catalog-filter{
  background-image: url("../images/catalog-images/catalog-filter-background.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: #ffffff;
}

.inner-header-title{
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.breadcrumbs-item:first-child{
  list-style: none;
}

.breadcrumbs-item:last-child{
  list-style: url("../images/catalog-images/breadcrumbs-arrow.svg");
}

.breadcrumbs-link{
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
}

/* !filters */
.filter-group-title{
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.filter-label{
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.price-filter-input{
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.fiter-button-reset{
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #ffffff;
  background: none;
  border: none;
}

/* !catalog-search-results */
.search-results-title{
  text-align: left;
}

.catalog-results-select{
  font-family: inherit; /* тут точно нужен inherit */
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

/* !product cards */
.product-card-title{
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
}

.product-card-description{
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

.rating{
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
  width: 160px;
  height: 37px;
  background-color: #F2F2F2;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rating-number{
  margin-left: 5px;
}

.button-add-to-favorite{
  background-color: #82B3D3;
}

.button-in-favorite{
  background-color: #7DB54F;
}

/* !pagination */
.pagination-link{
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  background-color: #82B3D3;
  text-align: center;
  text-decoration: none;
}

.pagination-first{
  color: #000000;
  background-color: #F2F2F2;
}

/* !inner footer select */
.catalog-footer-select-label, .catalog-footer-select{
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}


